<!DOCTYPE html>
<html class="no-js" lang="zxx">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Blog Details :: Businex - Corporate Business Bootstrap4 Template</title>

    <!--== Favicon ==-->
    <link rel="shortcut icon" href="/img/favicon.ico" type="image/x-icon" />

    <!--== Google Fonts ==-->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,400i,500,600,700" rel="stylesheet">

    <!--== All Magnific Popup CSS ==-->
    <link href="/css/magnific-popup.min.css" rel="stylesheet" />
    <!--== All Animate CSS ==-->
    <link href="/css/animate.min.css" rel="stylesheet" />
    <!--== All FontAwesome CSS ==-->
    <link href="/css/font-awesome.min.css" rel="stylesheet" />
    <!--== All Material Icons CSS ==-->
    <link href="/css/materialdesignicons.min.css" rel="stylesheet" />
    <!--== All Helper CSS ==-->
    <link href="/css/helper.min.css" rel="stylesheet" />
    <!--== All Revolution CSS ==-->
    <link href="/css/settings.css" rel="stylesheet" />
    <!--== All Slicknav CSS ==-->
    <link href="/css/slicknav.min.css" rel="stylesheet" />
    <!--== All Timeline CSS ==-->
    <link href="/css/timeline.css" rel="stylesheet" />
    <!--== All Slick Slider CSS ==-->
    <link href="/css/slick.min.css" rel="stylesheet" />
    <!--== All BootStrap CSS ==-->
    <link href="/css/bootstrap.min.css" rel="stylesheet" />
    <!--== Main Style CSS ==-->
    <link href="/css/style.min.css" rel="stylesheet" />
    <style>
        .card {
            display: inline-block;
        }

        .ecommerce-start {
            margin-top: 5rem;
        }

        .badge {
            padding-left: 9px;
            padding-right: 9px;
            -webkit-border-radius: 9px;
            -moz-border-radius: 9px;
            border-radius: 9px;
        }

        .label-warning[href],
        .badge-warning[href] {
            background-color: #c67605;
        }

        #lblCartCount {
            font-size: 12px;
            background: #ff0000;
            color: #fff;
            padding: 0 5px;
            vertical-align: top;
            margin-left: -10px;
        }

        a {
            color: white !important;
            cursor: pointer;
        }

        #cartLogo {
            cursor: pointer;
        }

        .modal-body {
            display: flex;
            justify-content: center;
            border: 0;
        }

        .btn {
            border-radius: 0;
        }
    </style>
</head>

<body>

    <!--== Start Header Area Wrapper ==-->
    <%- include("partials/navbar") -%>
    <!--== End Header Area Wrapper ==-->
    <% if(!login){ %>
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
        <strong> You are no logged in! </strong> PLese login first to proceed to checkout.
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <% } %>

    <div id="cartLogo" class="cart container">
        <i class="fa" style="font-size:45px">&#xf07a;</i>
        <span class='badge badge-warning' id='lblCartCount'> 0 </span>
    </div>
    <section class="ecommerce-start container">
        <div class="card" style="width: 18rem;">
            <img class="card-img-top"
                src="https://images.unsplash.com/photo-1579621970588-a35d0e7ab9b6?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80"
                alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">$ 5</h5>

                <button value="5" id="5" style="border-radius: 0!important;" class="btn btn-dark">Add to Cart</button>
            </div>
        </div>
        <div class="card" style="width: 18rem;">
            <img class="card-img-top"
                src="https://images.unsplash.com/photo-1579621970588-a35d0e7ab9b6?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80"
                alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">$ 10</h5>

                <button value="10" id="10" style="border-radius: 0!important;" class="btn btn-dark">Add to Cart</button>
            </div>
        </div>
        <div class="card" style="width: 18rem;">
            <img class="card-img-top"
                src="https://images.unsplash.com/photo-1579621970588-a35d0e7ab9b6?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80"
                alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">$ 15</h5>

                <a id="15" style="border-radius: 0!important;" class="btn btn-dark">Add to Cart</a>
            </div>
        </div>
        <div class="card" style="width: 18rem;">
            <img class="card-img-top"
                src="https://images.unsplash.com/photo-1579621970588-a35d0e7ab9b6?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80"
                alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">$ 20</h5>

                <a id="20" style="border-radius: 0!important;" class="btn btn-dark">Add to Cart</a>
            </div>
        </div>
        <div class="card" style="width: 18rem;">
            <img class="card-img-top"
                src="https://images.unsplash.com/photo-1579621970588-a35d0e7ab9b6?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80"
                alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">$ 25</h5>

                <a id="25" style="border-radius: 0!important;" class="btn btn-dark">Add to Cart</a>
            </div>
        </div>

    </section>

    <%- include("partials/footer") -%>
    <!-- End Off Canvas Menu Wrapper -->
    <button class="btn-scroll-top"><i class="mdi mdi-chevron-up"></i></button>


    <!-- Start Off Canvas Menu Wrapper -->
    <aside class="off-canvas-wrapper off-canvas-cog">
        <div class="off-canvas-overlay"></div>
        <div class="off-canvas-inner">
            <div class="close-btn">
                <button class="btn-close"><i class="mdi mdi-close"></i></button>
            </div>

            <!-- Start Off Canvas Content -->
            <div class="off-canvas-content mb-sm-30">
                <div class="off-canvas-item">
                    <% if(user){ %>
                    <div class="log-in-content-wrap">
                        <h2>USER</h2>
                        <p><span style="font-weight: bold;">Email:</span> <%= user.username %> </p>
                        <p> <span style="font-weight: bold;">Contact number:</span> <%= user.contact_number %> </p>
                        <div class="form-input-item">
                            <a href="/logout" class="btn-submit"> BUY </a>
                        </div>
                        <div class="form-input-item">
                            <a href="/logout" class="btn-submit"> LOGOUT </a>
                        </div>
                    </div>
                    <% }else{ %>

                    <div id="login_form" class="log-in-content-wrap">
                        <h2>Login</h2>
                        <div class="login-form mtn-15">
                            <form action="/login" method="post">
                                <div class="form-input-item">
                                    <label for="username" class="sr-only">Email</label>
                                    <input type="text" name="username" id="username" placeholder="email" required>
                                </div>

                                <div class="form-input-item">
                                    <label for="password" class="sr-only">Password</label>
                                    <input type="password" name="password" id="password" placeholder="Password"
                                        required>
                                </div>

                                <div class="form-input-item">
                                    <button type="submit" class="btn-submit">Login</button>
                                </div>
                            </form>
                        </div>

                        <div class="sign-up-notification">
                            <p>Not Resisted? <a id="register_click" style="cursor: pointer;">Create Account Now.</a></p>
                        </div>
                    </div>
                    <div style="display: none;" id="register_form" class="log-in-content-wrap">
                        <h2>Register</h2>
                        <div class="login-form mtn-15">
                            <form action="/register" method="post">
                                <div class="form-input-item">
                                    <label for="first_name" class="sr-only">First name</label>
                                    <input required type="text" id="first_name" name="first_namae"
                                        placeholder="First name">
                                </div>
                                <div class="form-input-item">
                                    <label for="last_name" class="sr-only">Last name</label>
                                    <input required type="text" id="last_name" name="last_name" placeholder="Last name">
                                </div>
                                <div class="form-input-item">
                                    <label for="reg_username" class="sr-only">Email</label>
                                    <input required type="email" id="reg_username" name="username" placeholder="Email">
                                </div>

                                <div class="form-input-item">
                                    <label for="contact_number" class="sr-only">Contact number</label>
                                    <input required type="number" id="contact_number" placeholder="contact number"
                                        name="contact_number">
                                </div>
                                <div class="form-input-item">
                                    <label for="reg_password" class="sr-only">Password</label>
                                    <input required type="password" id="reg_password" name="password"
                                        placeholder="password">
                                </div>
                                <div class="form-input-item">
                                    <label for="re_password" class="sr-only">Password</label>
                                    <input required type="password" id="re_password" name="re_password"
                                        placeholder="Retype password">
                                </div>

                                <div class="form-input-item">
                                    <button type="submit" class="btn-submit">Register</button>
                                </div>
                            </form>
                        </div>

                        <div class="sign-up-notification">
                            <p>Already Resisted? <a style="cursor: pointer;" id="get_login">Login Now.</a></p>
                        </div>
                    </div>

                    <% } %>
                </div>

                <div class="off-canvas-item mt-sm-30">
                    <div class="social-icons">
                        <a href="https://facebook.com" target="_blank"><i class="fa fa-facebook"></i></a>
                        <a href="https://twitter.com" target="_blank"><i class="fa fa-twitter"></i></a>
                        <a href="https://instagram.com" target="_blank"><i class="fa fa-instagram"></i></a>
                        <a href="https://dribbble.com" target="_blank"><i class="fa fa-dribbble"></i></a>
                        <a href="https://pinterest.com" target="_blank"><i class="fa fa-pinterest"></i></a>
                    </div>
                    <div class="copyright-content">
                        <p> © Businex 2019. All Right Reserved.</p>
                    </div>
                </div>
            </div>
        </div>
    </aside>

    <!-- Modal for cart -->
    <div class="modal fade" id="cartModel" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
        aria-hidden="true">
        <div class="modal-dialog  modal-lg" role="document">
            <div id="contentModal" class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Cart</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div id="htmlPlace" class="modal-body">

                </div>
                <div class="modal-footer">
                    <button type="button" style="border-radius: 0;" class="btn btn-dark"
                        data-dismiss="modal">Close</button>
                    <form action="" method="post">
                        <button id="send_data" style="border-radius:0 ;" type="button" class="btn btn-success"> Checkout
                        </button>
                    </form>

                </div>
            </div>
        </div>
    </div>

    <!-- Script for everything including cart -->

    <!--=======================Javascript============================-->
    <script src="/js/modernizr-3.6.0.min.js"></script>
    <script src="/js/jquery-3.3.1.min.js"></script>
    <script src="/js/jquery-migrate-1.2.1.min.js"></script>
    <script src="/js/popper.min.js"></script>
    <script src="/js/plugins/bootstrap.min.js"></script>
    <script src="/js/plugins/waypoint.min.js"></script>
    <script src="/js/plugins/counterup.min.js"></script>
    <script src="/js/plugins/instafeed.min.js"></script>
    <script src="/js/plugins/jquery.appear.js"></script>
    <script src="/js/plugins/jquery.slicknav.min.js"></script>
    <script src="/js/plugins/parallax.min.js"></script>
    <script src="/js/plugins/slick.min.js"></script>
    <script src="/js/plugins/magnific-popup.min.js"></script>
    <script>
        $(window).on("load", function () {


            let login_form = $("#login_form");
            let register_form = $("#register_form");
            $("#register_click").click(function () {

                login_form.hide();
                register_form.show()
            });
            $("#get_login").click(function () {

                register_form.hide();
                login_form.show()
            });


            let cart = {
                five: 0,
                ten: 0,
                fifteen: 0,
                twenty: 0,
                twentyFive: 0
            };
            function toRetriveCart() {
                var retrive = JSON.parse(localStorage.getItem("cart"))
                var sum = Object.values(retrive).reduce(function (a, b) {
                    return a + b;
                }, 0);
                cartValue.text(sum);
            }
            let send_data = $("#send_data");
            let five = $("#5");
            let ten = $("#10");
            let fifteen = $("#15");
            let twenty = $("#20");
            let twentyFive = $("#25");
            let cartValue = $("#lblCartCount");
            let cartLogo = $("#cartLogo")
            five.click(function () {
                cart.five = cart.five + 1;

                localStorage.setItem("cart", JSON.stringify(cart));
            });

            ten.click(function () {
                cart.ten = cart.ten + 1;
                localStorage.setItem("cart", JSON.stringify(cart));
            });
            fifteen.click(function () {
                cart.fifteen = cart.fifteen + 1;
                localStorage.setItem("cart", JSON.stringify(cart));
            });
            twenty.click(function () {
                cart.twenty = cart.twenty + 1;
                localStorage.setItem("cart", JSON.stringify(cart));
            });

            twentyFive.click(function () {
                cart.twentyFive = cart.twentyFive + 1
                localStorage.setItem("cart", JSON.stringify(cart));

            });

            $(document).click(function () {
                toRetriveCart()
            })

            cartLogo.click(function () {
                let items = JSON.parse(localStorage.getItem("cart"));

                let html = ``;
                for (const money in items) {
                    if (items[money] != 0) {
                        html += ` <div id="${money}Card" class="card" style="width: 18rem;">
                                        <img class="card-img-top"
                                            src="https://images.unsplash.com/photo-1579621970588-a35d0e7ab9b6?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80"
                                            alt="Card image cap">
                                        <div class="card-body">
                                            <h5 class="card-title">$ ${money}</h5>
                                            <p class="card-text"> Quantity: ${items[money]}  </p>
                                            <button id="${money}CardButton" class="btn btn-danger cartbtn">Remove</button>
                                        </div>
                                        
                                    </div>`
                    }
                }

                $("#htmlPlace").html(html)
                $('#cartModel').modal('show');

            })
            $('#tenCardButton').on('click', function () {

                console.log("clicked")
                var parent_id = $(this).parent().parent().attr("id");
                $(`#${parent_id}`).hide()
            });
            send_data.click(function () {
                console.log("clicked")
                $.post('/ecommerce', { cartData: JSON.parse(localStorage.getItem("cart")) });
                window.location.replace("/");
            })
            toRetriveCart()
        })
    </script>
    <!--=== Active Js ===-->
    <script src="/js/active.min.js"></script>

    <!-- REVOLUTION JS FILES -->
    <script src="/js/revslider/jquery.themepunch.tools.min.js"></script>
    <script src="/js/revslider/jquery.themepunch.revolution.min.js"></script>


    <!-- SLIDER REVOLUTION 5.0 EXTENSIONS  (Load Extensions only on Local File Systems !  The following part can be removed on Server for On Demand Loading) -->
    <script src="/js/revslider/extensions/revolution.extension.actions.min.js"></script>
    <script src="/js/revslider/extensions/revolution.extension.carousel.min.js"></script>
    <script src="/js/revslider/extensions/revolution.extension.kenburn.min.js"></script>
    <script src="/js/revslider/extensions/revolution.extension.layeranimation.min.js"></script>
    <script src="/js/revslider/extensions/revolution.extension.migration.min.js"></script>
    <script src="/js/revslider/extensions/revolution.extension.navigation.min.js"></script>
    <script src="/js/revslider/extensions/revolution.extension.parallax.min.js"></script>
    <script src="/js/revslider/extensions/revolution.extension.slideanims.min.js"></script>
    <script src="/js/revslider/extensions/revolution.extension.video.min.js"></script>

    <!--=== REVOLUTION JS ===-->
    <script src="/js/revslider/rev-active.js"></script>

</body>

</html>